<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login_form</title>
    <link rel="stylesheet" href="static\style.css">
</head>
<body>
    <form action="/login" method="post">
        <h1>Please Login to App</h1>
        <label for="User_name" >User_name</label><br>
        <input type="text" name="uname"><br>
        <label for="User_name" >password</label><br>
        <input type="password" name="upass"><br>
        <button>Login</button>
        



    </form>
</body>
</html>